In [49]:
data='''

윤경환, 성형석,

김동현, 최재권,

이재범, 주미현,

윤도하, 황지의,

이승환, 박호정,

박주형, 백혜리,

차혁주,한다연,

김동민, 이예림,

박세웅, 장유미,

우만경, 김태호,

권용희, 유해성,

최지욱, 김현우

'''

 

data

 

pattern = "[^ㄱ-ㅎ가-힣,]+"

 

import re

import numpy as np

data=re.sub(pattern,'',data)

data=data.split(',')

dataList=np.reshape(data,(-1,2))

bun=list(range(1,len(dataList)+1))

bun=np.reshape(bun, (-1,1))

result=np.hstack((bun,dataList))

 

result

array([['1', '윤경환', '성형석'],
       ['2', '김동현', '최재권'],
       ['3', '이재범', '주미현'],
       ['4', '윤도하', '황지의'],
       ['5', '이승환', '박호정'],
       ['6', '박주형', '백혜리'],
       ['7', '차혁주', '한다연'],
       ['8', '김동민', '이예림'],
       ['9', '박세웅', '장유미'],
       ['10', '우만경', '김태호'],
       ['11', '권용희', '유해성'],
       ['12', '최지욱', '김현우']], dtype='<U11')

In [56]:
import pandas as pd
df = pd.DataFrame(result,columns=['번호','조원1','조원2'])
시간 = [5,5,5,10,10,5,5,5,3,10,3,5]
type(df)
type(시간)
df['발표시간']=시간
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      12 non-null     object
 1   조원1     12 non-null     object
 2   조원2     12 non-null     object
 3   발표시간    12 non-null     int64
dtypes: int64(1), object(3)
memory usage: 516.0+ bytes

In [48]:
#!pip install pandas
import pandas as pd
#\n 제거, ''제거 / 제거: 찾는값, 바꿀값이 ''
#한글과 쉼표를 제외한 나머지값 제거


data_list = []
for i in data.split('\n'):

    data_list.append(i)
    
print(data_list)
df=pd.DataFrame(data_list)
print(df)

AttributeError: 'list' object has no attribute 'split'

In [39]:
import numpy as np

data[:3], np.shape(data)
data = data.split(',')
#data[:3]

In [40]:

dataList=np.reshape(data,(-1,2))
print(dataList)

['\n윤경환', ' 성형석', '\n김동현', ' 최재권', '\n이재범', ' 주미현', '\n윤도하', ' 황지의', '\n이승환', ' 박호정', '\n박주형', ' 백혜리', '\n차혁주', '한다연', '\n김동민', ' 이예림', '\n박세웅', ' 장유미', '\n우만경', ' 김태호', '\n권용희', ' 유해성', '\n최지욱', ' 김현우\n']
[['\n윤경환' ' 성형석']
 ['\n김동현' ' 최재권']
 ['\n이재범' ' 주미현']
 ['\n윤도하' ' 황지의']
 ['\n이승환' ' 박호정']
 ['\n박주형' ' 백혜리']
 ['\n차혁주' '한다연']
 ['\n김동민' ' 이예림']
 ['\n박세웅' ' 장유미']
 ['\n우만경' ' 김태호']
 ['\n권용희' ' 유해성']
 ['\n최지욱' ' 김현우\n']]

In [45]:
bun = np.array(list(range(1,len(dataList)+1)))
bun = bun.reshape(-1,1)
print(bun)

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]]

In [47]:
result = np.hstack((bun,dataList))
result

array([['1', '\n윤경환', ' 성형석'],
       ['2', '\n김동현', ' 최재권'],
       ['3', '\n이재범', ' 주미현'],
       ['4', '\n윤도하', ' 황지의'],
       ['5', '\n이승환', ' 박호정'],
       ['6', '\n박주형', ' 백혜리'],
       ['7', '\n차혁주', '한다연'],
       ['8', '\n김동민', ' 이예림'],
       ['9', '\n박세웅', ' 장유미'],
       ['10', '\n우만경', ' 김태호'],
       ['11', '\n권용희', ' 유해성'],
       ['12', '\n최지욱', ' 김현우\n']], dtype='<U11')

In [16]:
nameList=[]
for cnt,name in enumerate(data):
    if cnt%2 ==0:
        nameList.append([])
    nameList[-1].append(name)
nameList

[['\n', '윤'],
 ['경', '환'],
 [',', ' '],
 ['성', '형'],
 ['석', '\n'],
 ['김', '동'],
 ['현', ','],
 [' ', '최'],
 ['재', '권'],
 ['\n', '이'],
 ['재', '범'],
 [',', ' '],
 ['주', '미'],
 ['현', '\n'],
 ['윤', '도'],
 ['하', ','],
 [' ', '황'],
 ['지', '의'],
 ['\n', '이'],
 ['승', '환'],
 [',', ' '],
 ['박', '호'],
 ['정', '\n'],
 ['박', '주'],
 ['형', ','],
 [' ', '백'],
 ['혜', '리'],
 ['\n', '차'],
 ['혁', '주'],
 [',', '한'],
 ['다', '연'],
 ['\n', '김'],
 ['동', '민'],
 [',', ' '],
 ['이', '예'],
 ['림', '\n'],
 ['박', '세'],
 ['웅', ','],
 [' ', '장'],
 ['유', '미'],
 ['\n', '우'],
 ['만', '경'],
 [',', ' '],
 ['김', '태'],
 ['호', '\n'],
 ['권', '용'],
 ['희', ','],
 [' ', '유'],
 ['해', '성'],
 ['\n', '최'],
 ['지', '욱'],
 [',', ' '],
 ['김', '현'],
 ['우', '\n']]

In [59]:
from glob import glob
import os
csv_list=glob(r'C:\\Users\\bluecom013\\Desktop\\class\\ignore\\데이터_분석을_위한_전처리와_시각화_with_파이썬_예제_및_연습_문제\\5장\\*.*')
data = csv_list[-3]

C:\\Users\\bluecom013\\Desktop\\class\\ignore\\데이터_분석을_위한_전처리와_시각화_with_파이썬_예제_및_연습_문제\\5장\weather.csv